html,
* {
  padding: 0;
  margin: 0;
  
  
}

body{
  font-family: 'Raleway', sans-serif;
  max-height:100vh ;  
  overflow-y: hidden;
}

a {
  
  text-decoration: none;
  color: white;

}

* {
  box-sizing: border-box;
}


li{
  text-decoration: none;
  list-style: none;
}

h1, h2,h3, h4{
  margin-bottom: 20px;
  margin-top: 20px;
  
}



p{
  margin-bottom: 10px;
 
}



.Content {
  background-image: url("/background.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  height:100vh;
  overflow: hidden;
}



.Content.open{
  animation: bounce-in 1s ease-in;
}
.Content.close{
  animation: bounce-out 1s ease-in;
  
}
@keyframes bounce-in{
  0%    {height: 0px}
  100%  {height: 100vh}
}
@keyframes bounce-out{
 0%{
   height: 100vh;
 }
 100%{
    height: 0px;
    
 }
}


.container-profile{

  margin:0 auto ;
  margin-top:120px ;
  width:700px;
  color: white;
}

.container-profile.open{
  animation : profile-animation-active 1s ease-in;
}
.container-profile.close{
  animation: profile-animation-none 1s ease-in;
}


@keyframes profile-animation-active{
  0%    {opacity: 0}
  100%  {opacity: 1}
}
@keyframes profile-animation-none{
  0%    {opacity: 1}
  100%  {opacity: 0}
}




@keyframes AnimateWorksIn {
  0% {
    
    height: 0px;
    
  }
  100% {
    
    height: 100vh;
    
  }
}
@keyframes AnimateWorksOut {
  0% {
    opacity: 1;
    
    top: 0;
    
  }
  100% {
    opacity: 0;
    
    top: 100vh;
    
  }
}



/*Projects*/

/*resume animation*/
.resume-container{
  position: absolute;
  background-color:#1D1D1D;
  width:100vw;
  height:100vh;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.resume-container.none{
  opacity: 0;
  animation: AnimateWorksOut 1s ease-in;
}
.resume-container.active{
 animation: AnimateWorksIn 1s ease-in;
}

/*portfolio animation*/

.portfolio-container{
  position: absolute;
  background-color:rgb(82, 33, 33);
  width:100vw;
  height:100vh;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.portfolio-container.none{
  opacity: 0;
  animation: AnimateWorksOut 1s ease-in;
}

.portfolio-container.active{
  animation: AnimateWorksIn 1s ease-in;
}

/*hackatthon animation*/
.hackathon-container{
  position: absolute;
  background-color:rgb(36, 30, 30);
  width:100vw;
  height:100vh;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hackathon-container.none{
  opacity: 0;
  animation: AnimateWorksOut 1s ease-in;
  
}
.hackathon-container.active{
  animation: AnimateWorksIn 1s ease-in;
}


/*prueba*/



.page-wrap {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: 30px;
}

.ui-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 14px;
  z-index: 1;
}

.anim-switch {
  margin-top: 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.exit-box {
  color:#fff;
  display: inline-block;
  margin-left:14px;
  cursor: pointer;
  /* margin:0 14px; */
}


/*cursor ring */

*{
  cursor: none;
}

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(31, 30, 30, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.ring.hovered {
  width: 50px;
  height: 50px;
  border-width: 3px;
  border-color: lightgray;
}

.dot.hovered {
  display: none;
}

